@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate {
  0% {
    transform: translateX(-65px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.topo {
  animation: rotate 0.5s ease-in-out;
}

.shadow__btn {
  /* padding: 1px 1px; */
  border: none;
  font-size: 40px;
  color: #fff;
  border-radius: 10px;
  font-weight: 700;
  transition: 0.5s;
  transition-property: box-shadow;
}

.shadow__btn {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
}
